<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>About the flagtrafo</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
<section class="container">
    <p>
        <i>flagtrafo</i> was developed by Lukas D. Sauer at the Heidelberg Institute of Theoretical Studies
        in 2019, under the supervision of Anna Wienhard.
        A special thanks goes to Sven Grützmacher: His Master's thesis code contributed to the library
        <i>projflag-lib</i>, which is used for the server-side calculations of the flag complexes.
    </p>
    <p>
        This application was designed using Flask, nginx, Milligram.css and D3.js.
    </p>
</section>
{% endblock %}
</body>
</html>