<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>flagtrafo | Home</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}
    <section class="container" id="introduction">
        <h1 class="title">Welcome to the flagtrafo, the flag transformation web application!</h1>
        <div class="row">
            <div class="column-offset-75">
                <p>
                    This application shows different transformations of flags in the projective space
                    \(\mathbb{RP}^2\).
                    Draw flags by yourself, transform them using the eruption flow, the shear flow and the bulge flow,
                    and
                    generate convex sets by iterative reflections.
                </p>
                <p>
                    We have a <a href="{{ url_for('math_background') }}">brief mathematical introduction</a> about the
                    subject, you
                    can read some <a href="{{ url_for('tricks') }}">tricks</a> on how to use the application, or simply
                </p>
                <a class="button download" href="{{ url_for('graphics') }}" title="Download Milligram"
                   style="horiz-align: center">Get started!</a>

            </div>
            <div class="column-offset-25">
                <img src="{{ url_for('static', filename='images/eruption-trafo_logo.png') }}" style="width: 75%">
            </div>
        </div>
    </section>



{% endblock %}
</body>
</html>