<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Flag complex transformator</title>

    <script type="text/javascript" src="http://www.json.org/json2.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='scripts/graphics.js') }}"></script>
</head>
<body>
{% extends "template.html" %}
{% block content %}
    <section class="container">
        <section class="row-top">
            <b id="b-hinttype">Hint: </b><span id="span-modeinfo">Hover over grey canvas to start. Left click to add
                point.</span>
        </section>
        <div class="row">
            <div class="column column-20">
                <form>
                    <fieldset>
                        <input class="button-primary" type="button"
                               id="button-addflag"
                               value="Finish" style="display:block">
                        <div class="loader" style="display:none" id="loader-flags"></div>
                    </fieldset>
                </form>
                <div style="display:none" id="div-checkstriangle">
                    <label id="input-withinner">
                        <input type="checkbox" name="withInner" autocomplete="off"/>
                        Inner triangle
                    </label>
                    <label id="input-withmiddle">
                        <input type="checkbox" name="withMiddle" autocomplete="off"/>
                        Middle Triangle
                    </label>
                    <label style="display:none" id="input-withhelper">
                        <input type="checkbox" name="withHelper" autocomplete="off"/>
                        Helper Lines
                    </label>
                    <label style="display:none" id="input-withellipse">
                        <input type="checkbox" name="withEllipse" autocomplete="off"/>
                        Ellipse
                    </label>
                    <label style="display:none" id="input-withconvex">
                        <input type="checkbox" name="withConvex" autocomplete="off"/>
                        Convex Set
                    </label>
                </div>
                <div style="display:none" id="div-select-trafo">
                    <label>Trafo type
                        <select id="select-trafo">
                            <option id="option-trafoerupt" value="erupt" style="display:none">Eruption flow</option>
                            <option id="option-trafoeruptmp" value="eruptmp" style="display:none">Eruption flow (-/+)</option>
                            <option id="option-trafoeruptpp" value="eruptpp" style="display:none">Eruption flow (+/+)</option>
                            <option id="option-trafobulge" value="bulge" style="display:none">Bulge flow</option>
                            <option id="option-trafoshear" value="shear" style="display:none">Shear flow</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="column column-80" id="div-canvas"></div>
        </div>

        <section class="row">
            <div class="column column-50">
                <form name="projection_plane_form" id="form-pplane" style="display:none">
                    <fieldset>
                        <label form="projection_plane_form">Projection plane:
                            <span id="span-pplane">(0, 0, 1)</span></label>
                        <input type="text" name="ppx" placeholder="x" id="input-ppx"
                               style="display: inline; white-space: nowrap; width: 15%">
                        <input type="text" name="ppy" placeholder="y" id="input-ppy"
                               style="display: inline; white-space: nowrap; width: 15%">
                        <input type="text" name="ppz" placeholder="z" id="input-ppz"
                               style="display: inline; white-space: nowrap; width: 15%">
                        <!--Type must be button, not submit. Otherwise, the page would be refreshed every time.-->
                        <input class="button-primary" type="button" value="Set" id="button-pplane">
                    </fieldset>
                </form>
            </div>
            <div class="column column-50" id="div-trafo" style="display:none">
                <label>Transformation value: <span id="trafovalue">0</span>
                </label>
                <input type="range" min="-70" max="70" value="0" class="slider" id="range-trafo"/>
                <input class="button-primary" type="button" value="Reset" id="button-traforeset">

            </div>
        </section>
    </section>
    </body>
    <script type="text/javascript" src="//d3js.org/d3.v5.min.js"></script>
    <script type="text/javascript">
        /**
         * Fixed variables
         */
            // Access to all the CSS style modifications of the HTML document.
        var style = window.getComputedStyle(document.body);

        //The numbers of flags for which there is some kind of interaction with the server.
        var n_submit = [3, 4];
        // The maximal number of flags that can be drawn on the canvas.
        var n_max = 10;

        var trafo_range = 60;

        document.getElementById("range-trafo").max = trafo_range;
        document.getElementById("range-trafo").min = -trafo_range;


        /*
         * A JSON object of ids of UI elements.
         *
         * ui_elements["all_elements"] is a list of all elements that we need access to.
         * ui_elements["show_for_all_n"] is a list of all elements that will be shown for any number of flags.
         * ui_elements["3"] is the list of all elements that should be shown when we have 3 flags on the canvas.
         */
        var ui_elements =
            {
                "all_elements": ['button-addflag', 'div-checkstriangle', 'div-trafo',
                    'div-select-trafo', 'form-pplane', 'option-trafoerupt', 'input-withinner',
                    'input-withmiddle', 'input-withhelper', 'input-withellipse',
                    'input-withconvex'],
                "show_for_all_n": ['button-addflag', 'form-pplane', 'input-withconvex',
                    'input-withinner', 'input-withmiddle', 'div-checkstriangle'],
                "3":
                    ['div-trafo', 'div-select-trafo', 'option-trafoerupt', 'input-withinner',
                    'input-withhelper'],
                "4":
                    ['div-trafo', 'div-select-trafo', 'option-trafobulge', 'option-trafoshear',
                        'input-withinner', 'input-withellipse', 'option-trafoeruptmp', 'option-trafoeruptpp'
                    ]
            };

        /*
         * A list of error codes.
         * For example, error_codes[1] is the error message that belongs to error code 1.
         */
        var error_codes =
            ["No error",//0
                "Error: The tuple of flags is not positive. This means that the inner polygon is not nested" +
                " inside the outer polygon."//1
            ];
        // @type {string} The color of a new geometric object hovering before being added.
        var NEW_HIGHLIGHT_COLOR = style.getPropertyValue('--new-highlight-color');
        // @type {string} Different colors for special occasions.
        var FLAVOR_COLOR_1 = style.getPropertyValue('--flavor-color-1');
        var FLAVOR_COLOR_2 = style.getPropertyValue('--flavor-color-2');
        var FLAVOR_COLOR_3 = style.getPropertyValue('--flavor-color-3');
        var FLAVOR_COLOR_4 = style.getPropertyValue('--flavor-color-4');

        /*
         * @type {string} The mode that the application is in at the moment.
         * Sensible values are "addPoints", "addLines" and "standard"
         */
        var program_mode = "addPoints";
        // @type {int} The number of flags that are currently depicted on canvas.
        var n = 0;

        /*
         * Two-dimensional projections of...
         */
        // ... the points of the flags,
        var ps_2dim = [];
        // ... the lines of the flags (simply defined by another point (except for ps_2dim[i])
        // that is lying on the line,
        var ds_2dim = [];
        // ... the intersection points of the lines,
        var qs_2dim = [];
        // ... the points defining the inner triangles (for the eruption flow).
        var us_2dim = [];

        var convex = [];

        // Current coordinates of the mouse (if hovering over the SVG).
        var liveCoordinates = [0, 0];
        // Saved coordinates of the last mouse click (on the SVG).
        var fixedCoordinates = [0, 0];

        /*
         * This three-dimensional vector defines the projection plane to which the
         * projective points and lines are projected for visualization.
         */
        var proj_plane = [0, 0, 1];
        var old_proj_plane = [0, 0, 1];

        // The transformation parameter, ranging from -1000 to +1000.
        var t = 0;
        // The same as a string.
        var t_str = "0";

        /* Data for the transformations of the flag tuple. After initialization, it contains
         * values for ps_2dim[t], qs_2dim[t] and us_2dim[t] for each transformation parameter t.
         */
        var trafo_data = {
            "erupt": null,
            "bulge": null,
            "shear": null
        };

        var ellipse = null;


        /*
         * Different types of transformations: "erupt", "bulge" and "shear" and "no_trafo".
         */
        var trafo_type = "";

        // Width and height of the SVG object.
        var width = Math.min(2000, document.getElementById("div-canvas").offsetWidth);
        var height = Math.min(2000, innerHeight - 200);

        // SVG object for data visualization, using D3.js
        var svg = d3.select("#div-canvas").append("svg")
            .attr("width", width)
            .attr("height", height)
            .style("background-color", "#DDDDDD");

        // The SVG listens to mouse movements and mouse clicks 
        svg.on("mousemove", mouse_move_point_or_line)
            .on("click", mouse_click_point_or_line);

        // The SVG has different layers which we realize by adding groups one after the other.
        var background_layer = svg.append('g');
        var flag_layer = svg.append('g');
        var triangle_layer = svg.append('g');

        /**
         * Listeners for buttons and sliders.
         */
        // The "Add flag" button
        $(document).ready(function () {
            $("#button-addflag").click(function () {
                submit_flags_button();
            });
        });

        // The "Submit projection plane" button
        $(document).ready(function () {
            $("#button-pplane").click(function () {
                submit_projection_plane_button();
            });
        });

        // The "Reset transformation" button
        $(document).ready(function () {
            $("#button-traforeset").click(function () {
                t = 0;
                document.getElementById("trafovalue").innerHTML = "0"; // Display the default slider value
                transform_coordinates();
            });
        });

        // The slider for transformation
        var slider = document.getElementById("range-trafo");
        document.getElementById("trafovalue").innerHTML = "0"; // Display the default slider value
        slider.oninput = function () {
            t = this.value;
            transform_coordinates();
        };

        // The dropdown menu for transformation type
        var select_trafo = document.getElementById("select-trafo");
        select_trafo.onchange = function () {
            trafo_type = select_trafo.options[select_trafo.selectedIndex].value;
            refresh_coordinates();
            if (trafo_type === 'shear') {
                document.getElementById('input-withellipse').style.display = "block";
            } else {
                document.getElementById('input-withellipse').style.display = "none";
                svg.selectAll("#ellipse").remove();
            }
            refresh_svg(false);
        };

        // Checkbox for the inner triangle. Check for showing inner triangle, uncheck for removing.
        $('input[name=withInner]').change(function () {
            if ($(this).is(':checked')) {
                for (let i = 0; i < us_2dim.length; i++) {
                    draw_points(us_2dim[i], "u_point" + i.toString(), FLAVOR_COLOR_1, triangle_layer);
                    draw_triangle(us_2dim[i], "u_line" + i.toString(), FLAVOR_COLOR_1, triangle_layer);
                }
            } else {
                for (let i = 0; i < us_2dim.length; i++) {
                    svg.selectAll("#u_point" + i.toString()).remove();
                    svg.selectAll("#u_line" + i.toString()).remove();
                }
            }
        });

        // Checkbox for the middle triangle. Check for showing middle triangle, uncheck for removing.
        $('input[name=withMiddle]').change(function () {
            if ($(this).is(':checked')) {
                console.log(ps_2dim);
                console.log(n);
                for (let i = 1; i < n - 1; i++) {
                    var points = [ps_2dim[0], ps_2dim[i], ps_2dim[i + 1]];
                    draw_triangle(points, "p_line" + (i - 1).toString(), FLAVOR_COLOR_2, triangle_layer);
                }
                draw_points(ps_2dim, "p_point", FLAVOR_COLOR_2, triangle_layer);
            } else {
                svg.selectAll("#p_point").remove();
                for (let i = 1; i < n - 1; i++) {
                    svg.selectAll("#p_line" + (i - 1).toString()).remove();
                }
            }
        });

        // Checkbox for the helper lines. Check for showing, uncheck for removing.
        $('input[name=withHelper]').change(function () {
            if ($(this).is(':checked')) {
                draw_helper_lines(ps_2dim, qs_2dim, "helper_line", FLAVOR_COLOR_3, background_layer);
            } else {
                svg.selectAll("#helper_line").remove();
            }
        });

        // Checkbox for the ellipse. Check for showing, uncheck for removing.
        $('input[name=withEllipse]').change(function () {
            if ($(this).is(':checked')) {
                draw_triangle(ellipse, "ellipse", FLAVOR_COLOR_3, background_layer);
            } else {
                svg.selectAll("#ellipse").remove();
            }
        });

        // Checkbox for the convex set. Check for showing, uncheck for removing.
        $('input[name=withConvex]').change(function () {
            if ($(this).is(':checked')) {
                draw_polygon(convex, "convex", FLAVOR_COLOR_4, background_layer);
                //draw_triangle(convex, "convex", NEW_HIGHLIGHT_COLOR, background_layer);
            } else {
                svg.selectAll("#convex").remove();
            }
        });

    </script>

{% endblock %}


</html>