<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Flag Transformator | Application</title>

    <script type="text/javascript" src="http://www.json.org/json2.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='scripts/graphics.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/listeners.js') }}"></script>
    <script type="text/javascript" src="//d3js.org/d3.v5.min.js"></script>
</head>
<body>
{% extends "template.html" %}
{% block content %}
    <section class="container">
        <!-- This row contains some hints on how to use the application. -->
        <section class="row-top">
            <b id="b-hinttype">Hint: </b><span id="span-modeinfo">Hover over grey canvas to start. Left click to add
                point.</span>
        </section>

        <!-- This row contains two columns.
             On the left, some editing tools: "Submit flags", "Change trafo type" and some checkboxes.
             On the right, the SVG element with all the visualizations. -->
        <div class="row">
            <div class="column column-20">
                <form>
                    <fieldset>
                        <input class="button-primary" type="button"
                               id="button-addflag"
                               value="Finish" style="display:block">
                        <div class="loader" style="display:none" id="loader-flags"></div>
                    </fieldset>
                </form>
                <div id="div-checks">
                    <label id="input-withinner" style="display:none">
                        <input type="checkbox" name="withInner" autocomplete="off"/>
                        Inner triangle
                    </label>
                    <label id="input-withmiddle" style="display:none">
                        <input type="checkbox" name="withMiddle" autocomplete="off"/>
                        Middle Triangle
                    </label>
                    <label style="display:none" id="input-withhelper" style="display:none">
                        <input type="checkbox" name="withHelper" autocomplete="off"/>
                        Helper Lines
                    </label>
                    <label style="display:none" id="input-withellipse" style="display:none">
                        <input type="checkbox" name="withEllipse" autocomplete="off"/>
                        Ellipse
                    </label>
                    <label style="display:none" id="input-withconvex" style="display:none">
                        <input type="checkbox" name="withConvex" autocomplete="off"/>
                        Convex Set
                    </label>
                </div>
                <div style="display:none" id="div-select-trafo">
                    <label>Trafo type
                        <select id="select-trafo">
                            <option id="option-trafoerupt" value="erupt" style="display:none">Eruption flow</option>
                            <option id="option-trafoeruptmp" value="eruptmp" style="display:none">Eruption flow (-/+)
                            </option>
                            <option id="option-trafoeruptpp" value="eruptpp" style="display:none">Eruption flow (+/+)
                            </option>
                            <option id="option-trafobulge" value="bulge" style="display:none">Bulge flow</option>
                            <option id="option-trafoshear" value="shear" style="display:none">Shear flow</option>
                        </select>
                    </label>
                </div>
            </div>
            <div class="column column-80" id="div-canvas"></div>
        </div>

        <!-- This row further editing elements.
        The form that changes the projection plane on the left.
        The slider for applying the transformation in the middle.
        The button for saving the svg on the right.
        -->
        <section class="row">
            <div class="column column-40">
                <form name="projection_plane_form" id="form-pplane" style="display:none">
                    <fieldset>
                        <label form="projection_plane_form">Projection plane:
                            <span id="span-pplane">(0, 0, 1)</span></label>
                        <input type="text" name="ppx" placeholder="x" id="input-ppx"
                               style="display: inline; white-space: nowrap; width: 15%">
                        <input type="text" name="ppy" placeholder="y" id="input-ppy"
                               style="display: inline; white-space: nowrap; width: 15%">
                        <input type="text" name="ppz" placeholder="z" id="input-ppz"
                               style="display: inline; white-space: nowrap; width: 15%">
                        <!--Type must be button, not submit. Otherwise, the page would be refreshed every time.-->
                        <input class="button button-outline" type="button" value="Set" id="button-pplane">
                    </fieldset>
                </form>
            </div>
            <div class="column column-40" id="div-trafo" style="display:none">
                <label>Transformation value: <span id="trafovalue">0</span>
                </label>
                <input type="range" min="-100" max="100" value="0" class="slider" id="range-trafo"/>
                <input class="button button-outline" type="button" value="Reset" id="button-traforeset">

            </div>
            <div class="column column-20" id="div-savesvg" style="display:none">
                <label>Save to .svg-File</label>
                <input class="button" type="button" value="Save" id="button-savesvg">
            </div>
        </section>
    </section>
    </body>

    <script type="text/javascript">
        /**
         * Style elements
         */
        // Access to all the CSS style modifications of the HTML document.
        const style = window.getComputedStyle(document.body);
        // Width and height of the SVG object.
        const width = document.getElementById("div-canvas").offsetWidth;
        const height = innerHeight - 200;
        /**
         * Colors
         */
        // @type {string} The color of a new geometric object hovering before being added.
        const NEW_HIGHLIGHT_COLOR = style.getPropertyValue('--new-highlight-color');
        // @type {string} Different colors for special occasions.
        const FLAVOR_COLOR_1 = style.getPropertyValue('--flavor-color-1');
        const FLAVOR_COLOR_2 = style.getPropertyValue('--flavor-color-2');
        const FLAVOR_COLOR_3 = style.getPropertyValue('--flavor-color-3');
        const FLAVOR_COLOR_4 = style.getPropertyValue('--flavor-color-4');
        /**
         * Elements of the website
         */
        const slider = document.getElementById("range-trafo");
        const select_trafo = document.getElementById("select-trafo");

        /**
         * Applications constants
         */
        // The maximal number of flags that can be drawn on the canvas. This set by the server.
        const n_max = {{ n_max }};
        /*
         * A JSON object of ids of UI elements.
         *
         * ui_elements["all_elements"] is a list of all elements that we need access to.
         * ui_elements["show_for_all_n"] is a list of all elements that will be shown for any number of flags.
         * ui_elements["3"] is the list of all elements that should be shown when we have 3 flags on the canvas.
         */
        const ui_elements =
            {
                "all_elements": ['button-addflag', 'div-checks', 'div-trafo',
                    'div-select-trafo', 'form-pplane', 'option-trafoerupt', 'input-withinner',
                    'input-withmiddle', 'input-withhelper', 'input-withellipse',
                    'input-withconvex'],
                "show_for_all_n": ['button-addflag', 'form-pplane', 'input-withconvex',
                    'input-withinner', 'input-withmiddle', 'div-checks', "div-savesvg"],
                "3":
                    ['div-trafo', 'div-select-trafo', 'option-trafoerupt', 'input-withinner',
                        'input-withhelper'],
                "4":
                    ['div-trafo', 'div-select-trafo', 'option-trafobulge', 'option-trafoshear',
                        'input-withinner', 'input-withellipse', 'option-trafoeruptmp', 'option-trafoeruptpp'
                    ]
            };
        /*
         * A list of error codes.
         * For example, error_codes[1] is the error message that belongs to error code 1.
         */
        const error_codes =
            ["No error",//0
                "Error: The tuple of flags is not positive. This means that the inner polygon is not nested" +
                " inside the outer polygon.",//1
                "Error: Too many flags. You can not submit more than"+ n_max + " flags. The computation has been cancelled by the server."//2

            ];

        /**
         * Application variables
         */
        /*
         * @type {string} The mode that the application is in at the moment.
         * Sensible values are "addFlags", "addPoints", "addLines" and "standard".
         *
         * Depending on the mode, the behaviour of the website changes.
         *
         * "addFlags" removes some interface elements and automatically switches to "addPoints". Furthermore, it makes
         * the svg listen to mouse movements and clicks.
         * "addPoints" allows you to draw new points on the svg object.
         * "addLines" allows you to draw lines on the svg object.
         * "standard" allows you to perform transformations on the drawn object.
         */
        var program_mode = "addPoints";
        // @type {int} The number of flags that are currently depicted on canvas.
        var n = 0;
        /*
         * Two-dimensional projections of...
         */
        // ... the points of the flags,
        var ps_2dim = [];
        // ... the lines of the flags (simply defined by another point (except for ps_2dim[i])
        // that is lying on the line,
        var ds_2dim = [];
        // ... the intersection points of the lines,
        var qs_2dim = [];
        // ... the points defining the inner triangles (for the eruption flow).
        var us_2dim = [];
        // ... the convex set generated by the middle polygon (the polygon spanned by the ps).
        var convex = [];
        // ... the ellipse on which on of the points orbits for the shear flow.
        var ellipse = null;
        /* Data for the transformations of the flag tuple. After initialization, it contains
         * values for ps_2dim[t], qs_2dim[t] and us_2dim[t] for each transformation parameter t.
         */
        var trafo_data = {
            "erupt": null,
            "bulge": null,
            "shear": null
        };


        // Current coordinates of the mouse (if hovering over the SVG).
        var liveCoordinates = [0, 0];
        // Saved coordinates of the last mouse click (on the SVG).
        var fixedCoordinates = [0, 0];

        /*
         * This three-dimensional vector defines the projection plane to which the
         * projective points and lines are projected for visualization.
         */
        var proj_plane = [0, 0, 1];
        // The projection plane that was in use before the current one.
        var old_proj_plane = [0, 0, 1];

        // The transformation parameter, its range depends on trafo_range.
        var t = 0;
        // The same as a string.
        var t_str = "0";
        // Trafo range is the maximal value and the step width that a transformations parameter can take for
        // a certain trafo type. It is changed after server requests.
        var trafo_range = {"notrafo": {"trafo_range": 0, "t_step": 0}};
        /*
         * Different types of transformations: "erupt", "bulge", "shear", "eruptmp", "eruptpp" and "no_trafo".
         */
        var trafo_type = "no_trafo";

        /**
         * The svg element contains all the visualizations.
         *
         * @type d3.js object
         */
        // SVG object for data visualization, using D3.js
        var svg = d3.select("#div-canvas").append("svg")
            .attr("width", width)
            .attr("height", height)
            .attr("id", "svg")
            .style("background-color", "#DDDDDD");

        // The SVG has different layers which we realize by adding groups one after the other.
        var bottom_layer = svg.append('g');
        var background_layer = svg.append('g');
        var flag_layer = svg.append('g');
        var triangle_layer = svg.append('g');

        // In particular, this makes the svg listen to mouse movements and clicks.
        switch_program_mode_to("addFlags");
    </script>

{% endblock %}


</html>