<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Projective Flag Deformator | Home</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}

    <section class="container" id="examples">
        <h1 class="title">Welcome!</h1>
        <p>
            This small application shows different transformations of flags in the projective space.
        </p>
    <a class="button download" href="{{ url_for('graphics')}}" title="Download Milligram">Let's get started!</a>
    </section>



{% endblock %}
</body>
</html>