.container {
	max-width: 80.0rem;
	padding-bottom: 7.5rem;
	padding-top: 7.5rem;
}

#home {
	background: #f4f5f6;
	height: 100vh;
	position: relative;
	max-height: 100vh;
	min-width: 100vw;
}

.thumbnail {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #d1d1d1;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #606c76;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #606c76;
  color: white;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #9b4dca;
  color: white;
}
}